/******** FOOTER *******/
footer {
    display: flex;
    justify-content: space-between;
    align-items: top;
    padding: 2%;
    text-align: center;
    background-color: black;
    color: white;
}

footer h3 {
    color: greenyellow;
}

footer form {
    width: 30%;
}
footer form input[type="submit"] {
    
    padding: 1%;
    background-color: greenyellow;
    border: none;
}

footer nav a {
    display: block;
    color: white;
    text-decoration: none;
}

footer nav a:hover {
    color: greenyellow;
}

footer div img {
    width: 20%;
}

/******* JAZZ *******/

section {
    margin-top: 2%;
}
.section-jazz {
    background-image: url(images/jazz.jpeg);
    box-sizing: border-box;
    height: 80vh;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.section-jazz h1 {
    color: white;
}

.section-jazz p {
    width: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.61);
}

.artistes-jazz{
    text-align: center;
    background-color: #e7894c;  
}

.artistes-jazz a {
    display: inline-block;
    width: 10%;
    padding: 1%;
    text-decoration: none;
    color: white; 
    border-bottom:  #e7894c solid;
}

.artistes-jazz a:hover {
    color: yellowgreen;
    background-color: rgba(255, 255, 255, 0.575);
    border-bottom: 2px black solid;
}

.artiste {
    display: flex;
}

.artiste-audio {
    text-align: center;
}

.artiste-audio img {
    width: 60%;
}

.artiste-bio img{
    width: 25%;
}

/**** SLIDER****/
*{
    box-sizing:border-box
}

img{
max-width: 100%;
}

.target{
    display: none   
}

.albums {
    max-width: 600px;
    margin: 2rem auto;
    overflow: hidden;
}

.img-albums {
    display: flex;
    width: 400%;
    transition: transform .6s ease-in-out;
    
}



/*image 1*/
#photo1:target ~ .albums .img-albums, #miles1:target ~ .albums .img-albums , #coltrane1:target ~ .albums .img-albums{
    transform:translatex(0)
    
}

/*image 2*/
#photo2:target ~ .albums .img-albums , #miles2:target ~ .albums .img-albums , #coltrane2:target ~ .albums .img-albums{
    transform:translatex(-25%)  
}

/*image 3*/
#photo3:target ~ .albums .img-albums , #miles3:target ~ .albums .img-albums , #coltrane3:target ~ .albums .img-albums{
    transform:translatex(-50%)   
}

/*image 4*/
#photo4:target ~ .albums .img-albums , #miles4:target ~ .albums .img-albums , #coltrane4:target ~ .albums .img-albums{  
    transform:translatex(-75%)  
}

.navigation {
    display: flex; 
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0
}

.navigation li {
    padding: .25rem;
}

.navigation img {
    border: 3px solid white;
    box-shadow:0 0 5px hsla(0,0%,0%,.4);
    width: 100%;
}

#artiste2 , #artiste4 {
    text-align: right;
}
