/*FONT*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
/*FONT*/
<<<<<<< HEAD

*{
    box-sizing: border-box;
}


=======
>>>>>>> d41fad1cfb7a565b6a3feaca163460a324aeaea0

*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
    font-family:"Roboto", sans-serif;
}

/*header*/
header{
    display: flex;
    flex-direction: column;
    background: black;
    color: white;
    width: 100%;
    height: auto;
}
.head{
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
       
}
#logo{
    width: 30%;
    padding-top: 3%;
}
#logo img{
    width: 30%;
    height: 80%;
}

header h1{
    margin-top: 3%;
    color:#81b71a;
    margin-top: 1em;
    width: 30%;
    padding-top: 3%;
    text-align: center;
}
.log{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    align-self: center;
    width: 30%;
    height: 100%;
    margin-bottom:4em;
    white-space: nowrap;

    

}
.connect, .subscribe{
    width: 100%;
    margin-left: 1em;
    text-align: center;
    line-height: 5vh;
    font-weight: bold;
    
    
}

.connect a, .subscribe a{
    width: 100%;
    text-decoration: none;
    color:white;
    
}
.connect:before{
    content: "l";
    font-family: "fontello";
    font-weight: bold;
    font-size: 1em;
    padding-right: 5%;
    color: White;
}
.subscribe:before{
    content: "s";
    font-family: "fontello";
    font-weight: bold;
    font-size: 1em;
    padding-right: 5%;
    color: White;
}

.menu{
   
    background-color: black;
    color: white;
    font-weight: bold;
    padding-top: 1%;
    padding-bottom: 1%;
    text-align: center;
       
}
.menu li{
    display:inline;
}
.menu ul{
    margin: 0;
    padding:0;
    list-style-type: none;
}
.menu, #accueil .button{
    display:inline-block;
    
}

.button{
    width: 20%;
    height:2em;
    margin: 0;
    padding: 0;
    display: block;
    cursor: pointer;
    line-height: 2em; 
    font-size: 1em;  
}
.button:hover .submenu li{
    display: block;
    height: 4em;  
    transition:1s;
}
#accueil:before{
    content: "h";
    font-family: "fontello";
    font-weight: bold;
    font-size: 1em;
    padding-right: 1%;
    color: White;
}

.submenu{
    margin: 0;
    padding: 0;
    text-align: center;
    overflow: hidden;
    
}
.submenu li{
    width: 100%;
    display: block;
    margin: 0;
    padding:0;
    background-color: black;
    text-align: center;   
    height: 0;
    transition: 1s;
    
}
.category{
    margin: 0;
    padding:0;
    color: white;
    text-decoration: none;
    line-height: 3em;
    width: 100%;
    
   
}
.category:hover{
    color: #81b71a;
    
}
/*responsive*/
@media screen and (max-width:480px){
    .connect{
        margin-right: 15%;
    }
}



/*Accueil main*/
.title2::after , .title2::before{
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    margin: auto;
    background-color: #81b71a;
    height: 2px;
}
.title2{
    text-align: center;
}
.title2::after {
    margin-left: 1%;
}

.title2::before {
    margin-right: 1%;
}
.h2style{
    text-align: center;
    margin: 0 0.7em;
    background: #ecf0f1;
    padding: 2% 2em;
}

#chris{
    text-align: center;
    margin: 0 0.7em;
    background: #bdc3c7;
    padding: 2% 2em;
    
}

.discovery{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-bottom: 2em;
    padding-right: 1em;
    margin:0 1em;
    background:#ecf0f1 ;
}
.discovery2{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    padding-bottom: 2em;
    padding-left: 1em;
    margin:0 1em;
    background-color: #bdc3c7;
}

.player1{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 50%;
    padding-left: 1em;
}

.discovery audio , .discovery2 audio{
    width: 90%;
}
.paragraph{
    width: 50%;
    
}
.img_items{
    width: 80%;
    transition-duration: 0.5s;
}
.img_items:hover{
    transform:scale(1.2)
}
/*responsive*/

@media screen and (max-width:480px){
    .discovery , .discovery2{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }
    .player1 figure{
       height: 100%;
    }
    
}



/**** ACCUEIL****/
.section-moment {
    text-align: center;
}
.section-moment h1::after , .section-moment h1::before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    margin: auto;
    background-color: #81b71a;
    height: 1px;
}
@media screen and (min-width:900px) and (max-width:1100px) {
    .section-moment h1::after , .section-moment h1::before {
        width: 25%;
    }
}
@media screen and (min-width:501px) and (max-width:899px) {
    .section-moment h1 {
        font-size: 20px;
    }
    .section-moment h1::after , .section-moment h1::before {
        width: 12%;
    }
}
@media screen and (max-width:500px) {
    .section-moment h1 {
        font-size: 20px;
    }
    .section-moment h1::after , .section-moment h1::before {
        width: 7%;
    }
}

.section-moment h1::after {
    margin-left: 1%;
}

.section-moment h1::before {
    margin-right: 1%;
}

.section-div-artistes-moment {
    display: flex;
}

@media screen and (max-width:1000px) {
    .section-div-artistes-moment {
        display: block;
    }
    .pochette {
        width: 40%;
    }
}

.section-div-artistes-moment div {
    width:100%;
    margin: 1%;
    position: relative;
    
    
}
.section-div-artistes-moment div a {
   position: absolute;
    bottom: 20%;
    left: 30%;
    right: 30%;
    display: none;
   

}


@media screen and (max-width:1000px) {
    .section-div-artistes-moment div a  {
       top: 45%; 
        left: 45%;
        right: 0;
        width: 10%;
    }

    .section-moment h2 {
        font-size: 15px;
    }
}

.section-div-artistes-moment div:hover a {
    display: block;
}

.section-div-artistes-moment div:hover h2 {
    color: greenyellow;
}

.section-div-artistes-moment div:hover .pochette {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

 /******ABONNEMENT ****/

.section-abonnement {
    text-align: center;
}
.section-div-abonnement {
    display: flex; 
    justify-content: space-evenly;
}

.section-abonnement-h1:after , .section-abonnement-h1:before {
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    width: 30%;
    margin: auto;
    background-color: greenyellow;
    height: 1px;
}

@media screen and (max-width:1100px) {
    .section-div-abonnement {
        flex-direction: column;

    }
    .section-abonnement-h1:after , .section-abonnement-h1:before {
        width: 25%;
    }
}
@media screen and (min-width:501px) and (max-width:899px) {
    .section-abonnement h1 {
        font-size: 20px;
    }
    .section-abonnement-h1:after , .section-abonnement-h1:before {
        width: 12%;
    }
}
@media screen and (max-width:500px) {
    .section-abonnement h1 {
        font-size: 20px;
    }
    .section-abonnement h1::after , .section-abonnement h1::before {
        width: 7%;
    }
}

.section-abonnement h1::after {
    margin-left: 1%;
}

.section-abonnement h1::before {
    margin-right: 1%;
}
.div0 {
border: solid black 1px;
border-radius: 10px;
box-shadow: 8px 8px 8px #aaa;
display: flex;
flex-direction: column;
align-items: flex-end;
width: 30%;
margin: 1%;
padding: 2%;
text-align: left;
}

@media screen and (max-width:1100px) {
  .div0 {
    width: 50%;
    margin: 1% auto;
  }
}

@media screen and (max-width:500px) {
    .div0 {
      width: 90%;
      margin: 1% auto;
    }
  }

.div1 {
min-height: 100vh;
}

@media screen and (max-width:1100px) {
   .div1 {
    min-height: 50vh;
   }
  }

.div2 {
    text-align: center;
}

.offre {
    width: 50%;
    margin: 2%;
    padding: 1%;
    background-color: greenyellow;
    border-radius: 5px;
}

.hr-abonnement {
    border: greenyellow 1px solid;
}

.li {
    list-style: url(images/liste.png) ;
    margin-bottom: 5%; 
}

.btn-abonnement {
    display: block;
    width: 70%;
    padding: 5%;
    margin: auto;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
}

.btn-abonnement:hover {
    background-color: greenyellow;
    color: black;
}

.info-legal {
    color: grey;
    font-size: 12px;
}






/*MAIN PAGE 1 et 3*/
#page3{
    height: 100vh;
}
#page3 h1{
    text-align: center;
}
#page3 h2{
    margin:0 3%;
   
}

.wrap3{
    display: grid;
    grid-template-rows: repeat(4, 100%);
    overflow-y: hidden;
    height: 100%;
    scroll-behavior: smooth;
      
}

#section1{
    grid-row: 1;
    
       
}
#section2{
    grid-row: 2;
    
}
#section3{
    grid-row: 3;
    
}
#section4{
    grid-row: 4;
    
}

#page3 section{
    height: 100%;
    display: flex;
    flex-direction: column;    
}

.player3{
    display: flex;
    flex-direction: row;
    justify-content: center; 
}  

#page3 figure{
    width: 90%;
    height: 80%;
    padding:1em;
    text-align: center;
    margin: 0;    
}

.cover{
    width:90%;
    height: 90%;
}

.artist{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.socialmedia{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-right: 10%;
}
.socialmedia a{
    padding-left: 5%;
}


.media{
    height:70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
}

.media2{
    height:70%;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
}
.arrowd::before{
    content: "d";
    font-family: "fontello";
    font-weight: bold;
    font-size: 2em;
}
.arrowu::before{
    content: "u";
    font-family: "fontello";
    font-weight: bold;
    font-size: 2em;
}
.arrowb::before{
    content: "b";
    font-family: "fontello";
    font-weight: bold;
    font-size: 2em;
}
.link{
    display: flex;
    flex-direction: row-reverse;
    font-weight: bold;
    font-size:large;
    height: 10%;
    margin-right: 2%;
     
}

.link a{
    text-decoration: none;
    color: #81b71a ;
    
    width: auto;
    padding: 1em;
    border-radius: 5%;
    text-align: center;  
}
/*RESPONSIVE MAIN*/
@media screen and (max-width:768px){
    #page3{
        display: block;
        height: auto;
       
    }
    .wrap3{
        display: block
        
        
    }
    #page3 section{
        display: block;
        
        
    }
    .media{
        display:flex;
        flex-direction: column;
    }
    .media2{
        display: flex;
        flex-direction: column;
    }
    .player3{
        display: flex;
        flex-direction: column;
        justify-content: center;
        

    }
    
}

    



/******** AUTRE  *******/
body {
    margin: 0;
    padding: 0;
}
@media screen and (min-width:1300PX) {
    body {
        max-width: 80%;
    }
}


/******** FOOTER *******/
footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 2%;
    text-align: center;
    background-color: black;
    color: white;
}

footer h3 {
    color: #81b71a;
}

footer form {
    width: 30%;
}
footer form input[type="submit"] {
    
    padding: 1%;
    background-color: #81b71a;
    border: none;
}

footer nav a {
    display: block;
    color: white;
    text-decoration: none;
}

footer nav a:hover {
    color: #81b71a;
}

footer div img {
    width: 20%;
}

/***** RESPONSIVE FOOTER *****/
@media screen and (max-width:500px) {
    footer {
        display: block;
    } 
    footer form {
        width: 100%;
    }
}
@media screen and (min-width:501px) and (max-width:1023px) {
    footer form {
        width: 20%;
    }
}


/******* JAZZ *******/

section {
    margin-top: 2%;
}
.section-jazz {
    background-image: url(img/jazz.jpeg);
    box-sizing: border-box;
    height: 80vh;
    margin-top: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media screen and (max-width:480px) {
    .section-jazz {
        height: 100vh;
    }
}


.section-jazz h1 {
    font-size: 40px;
    color: white;
    font-family: 'Comic Neue', cursive;
}

.section-jazz p {
    width: 80%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.61);
    font-family: 'Oswald', sans-serif;
}

.artistes-jazz{
    text-align: center;
    background-color: #e7894c;  
}

.artistes-jazz a {
    display: inline-block;
    width: 15%;
    padding: 1%;
    text-decoration: none;
    color: white; 
    border-bottom:  #e7894c solid;
}

.artistes-jazz a:hover {
    color: yellowgreen;
    background-color: rgba(255, 255, 255, 0.575);
    border-bottom: 2px black solid;
}

@media screen and (max-width:500px) {
    .artistes-jazz a {
        white-space: nowrap;
        width: 24%;
    }
}
/*****/
.artiste {
    display: flex;
}

@media screen and (max-width:1000px) {
    .artiste {
        display: block;
    }
}

.artiste-audio {
    text-align: center;
}

.artiste-audio img {
    width: 60%;
}

.artiste-bio {
    text-align: center;
}

.artiste-bio h1 {
    font-family: 'Comic Neue', cursive;
    color: #e7894c;
}

.artiste-bio h1:before, .artiste-bio h1:after { 
    content:''; 
    display:inline-block; 
    vertical-align: middle; 
    width: 30%; 
    height: 1px; 
    background: #000; 
}

.artiste-bio h1:before { 
    margin-right: .3rem ;
}

.artiste-bio h1:after {
    margin-left: .3rem ;
}

@media screen and (max-width:500px) {
    .artiste-bio h1:before, .artiste-bio h1:after { 
        width: 20%; 
        
    }
}

.artiste-bio img{
    width: 25%;
    padding: 0.5%;
    background-color: #e7894c;
}

.artiste-bio p {
    font-family: 'Oswald', sans-serif;
}

/**** SLIDER****/
*{
    box-sizing:border-box
}

img{
max-width: 100%;
}

.target{
    display: none   
}

.albums {
    max-width: 600px;
    margin: 2rem auto;
    overflow: hidden;
}

.img-albums {
    display: flex;
    width: 400%;
    transition: transform .6s ease-in-out;  
}

/*image 1*/
#photo1:target ~ .albums .img-albums, #miles1:target ~ .albums .img-albums , #coltrane1:target ~ .albums .img-albums , #dahan1:target ~ .albums .img-albums{
    transform:translatex(0)
    
}

/*image 2*/
#photo2:target ~ .albums .img-albums , #miles2:target ~ .albums .img-albums , #coltrane2:target ~ .albums .img-albums , #dahan2:target ~ .albums .img-albums{
    transform:translatex(-25%)  
}

/*image 3*/
#photo3:target ~ .albums .img-albums , #miles3:target ~ .albums .img-albums , #coltrane3:target ~ .albums .img-albums , #dahan3:target ~ .albums .img-albums{
    transform:translatex(-50%)   
}

/*image 4*/
#photo4:target ~ .albums .img-albums , #miles4:target ~ .albums .img-albums , #coltrane4:target ~ .albums .img-albums, #dahan4:target ~ .albums .img-albums{  
    transform:translatex(-75%)  
}

.navigation {
    display: flex; 
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0
}

.navigation li {
    padding: .25rem;
}

.navigation img {
    border: 3px solid white;
    box-shadow:0 0 5px hsla(0,0%,0%,.4);
    width: 100%;
}

.descrition {
    width: 50%;
}

.hr-jazz {
    width: 90%; 
    border: #e7894c  1px solid;
}

.artiste-bio .logo {
    width: 8%;
    background-color: white;
}

.logofleche {
    width: 3%;
}

#artiste3 a , #artiste4 a , #artiste2 a , #artiste1 a  {
    text-decoration: none;
    color: #e7894c;
}


/******* LATINE ******/

.section-latine {
    background-image: url(img/musiquelatine.jpg);
    box-sizing: border-box;
    height: 80vh;
    margin-top: 0;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

@media screen and (max-width:480px) {
    .section-latine {
        height: 100vh;
    }
}

.section-latine h1 {
    font-size: 40px;
    color: red;
}

.section-latine p {
    width: 80%;
    margin: auto;
    background-color: #e6020298;
    font-family: 'Oswald', sans-serif;
}

.artistes-latino{
    text-align: center;
    background-color: red;  
}

.artistes-latino a {
    display: inline-block;
    width: 15%;
    padding: 1%;
    text-decoration: none;
    color: white; 
    border-bottom:  red solid;
}

.artistes-latino a:hover {
    color: yellowgreen;
    background-color: rgba(255, 255, 255, 0.575);
    border-bottom: 2px black solid;
}

@media screen and (max-width:500px) {
    .artistes-latino a {
        white-space: nowrap;
        width: 24%;
    }
}

/*image 1*/
#shakira1:target ~ .albums .img-albums, #martin1:target ~ .albums .img-albums , #daddy1:target ~ .albums .img-albums , #thalia1:target ~ .albums .img-albums{
    transform:translatex(0)
    
}

/*image 2*/
#shakira2:target ~ .albums .img-albums , #martin2:target ~ .albums .img-albums , #daddy2:target ~ .albums .img-albums , #thalia2:target ~ .albums .img-albums{
    transform:translatex(-25%)  
}

/*image 3*/
#shakira3:target ~ .albums .img-albums , #martin3:target ~ .albums .img-albums , #daddy3:target ~ .albums .img-albums , #thalia3:target ~ .albums .img-albums{
    transform:translatex(-50%)   
}

/*image 4*/
#shakira4:target ~ .albums .img-albums , #martin4:target ~ .albums .img-albums , #daddy4:target ~ .albums .img-albums, #thalia4:target ~ .albums .img-albums{  
    transform:translatex(-75%)  
}

.hrlatino {
    width: 90%; 
    border: red  1px solid;
}

.artiste-bio .latino-h1 {
    color: red;
    font-family: 'Comic Neue', cursive;
    
}

.artiste-bio .img-latino{
    width: 25%;
    padding: 0.5%;
    background-color: red;
}